.error{
    color: red;
}
.main-header{
    z-index: 1;
}

.datetime1{


}

.datetime2{

}
.datesubmit-button{

}

.dates-picker-div{
    display: flex;

}

.user-list{
    width: 300px;
    height: 200px;
}

.custom-card-layout{
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding:12px;
}
.mydatepicker {
    background-color: white !important;
}