<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Meeting</title>
</head>
<body layout:fragment="content">

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2  alertSuccess" th:if="${#ctx.containsVariable('error')}">
            <div class="col-sm-12">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>[[${error}]]</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-10">
                <h1>Meetings</h1>
            </div>
            <div class="col-sm-2">
                <a th:href="@{/meetingMinutes/employeeForm/{meetingtype} (meetingtype= ${MEETINGTYPE})}">
                    <button id="add-new-meeting" class="btn btn-primary btn-sm pull-right">Add New Meeting</button>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <input type="hidden" id="meetingType" th:value="${MEETINGTYPE}">
                        <table class="table" id="meeting-table">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" th:src="@{/js/ckeditor/ckeditor.js}"></script>
<script type="text/javascript" th:src="@{/js/hrm/meeting.js}"></script>
<script>
    CKEDITOR.replace('minute');
</script>
</body>
</html>